angular-phonecat
.DS_Store
.classpath
.project
.settings/
/target/
**/*/target/
**/*/idea/
**/*/.idea/
.idea
.idea/*
*.iml
**/*.iml
**/*/.iml
**/*/*.war
*.project
*.settings
*.classpath
*.prefs
*.springBeans

