<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:elasticsearch="http://www.pilato.fr/schema/elasticsearch"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.pilato.fr/schema/elasticsearch
	    http://www.pilato.fr/schema/elasticsearch/elasticsearch-0.3.xsd
		">


	<elasticsearch:client id="esClient" esNodes="${es.hosts}"   />	
	
</beans>